{% extends 'base.html' %}
{% block title %}Projects - Portfolio{% endblock %}

{% block content %}
<section class="about-section">
    <h1>My Projects</h1>

    <ul>
        <li>
            <strong>Portfolio Website</strong>: Built with Flask, HTML, and CSS. It showcases personal information and featured projects.
        </li>
        <li>
            <strong>Music Player App</strong>: A browser-based app developed using HTML, CSS, and JavaScript.
        </li>
        <li>
            <strong>Movie Recommendation App</strong>: Built using Vite + React, Node.js, and the TMDB API for movie data.
        </li>
    </ul>
</section>
{% endblock %}
